{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('login_bp.static', filename='login.css') }}">
{% endblock %}

{% block head %}
<title>FoodFinder Login</title>
{% endblock %}


{% block body %}
<h1>Welcome To Foodfinder!</h1>
<h4>Login below to access some a-MEOW-zing dishes!</h4>
<div class="content">
    <div class="login">
        <form action="/" method="POST" novalidate>
            <dl>
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
            </dl>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}