{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" href="{{ url_for('login_bp.static', filename='login.css') }}">
{% endblock %}

{% block head %}
<title>FoodFinder Login</title>
{% endblock %}


{% block body %}
<h1>Welcome To Foodfinder!</h1>
<h4>Login below to access some a-MEOW-zing dishes!</h4>
<div class="content">
    <div class="login">
    {% if msgs|length > 0 %}
        <h5 style="text-align: center; font-size: 14px; color: red;">{{ msgs[0] }}</h5>
    {% endif %}
        <form action="/login" method="POST">
            <label for="usename">Username</label><br>
            <input type="text" name="username" id="username" required="required"><br><br>
            <label for="password">Password</label><br>
            <input type="text" name="password" id="password" required="required"><br><br>
            <input type="submit" value="Login">
        </form>
    </div>
</div>
{% endblock %}