{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}


{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signup.css') }}">
<title>FoodFinder Signup</title>
{% endblock %}

{% block body %}
<h1>Welcome To Foodfinder!</h1>
<h4>Sign up below to access some a-MEOW-zing dishes!</h4>
<div class="content">
    <div class="signup">
        <form action="/signup" method="POST" novalidate>
            <dl>
                {{ render_field(form.name) }}
                {{ render_field(form.email) }}
                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
            </dl>
            <input type="submit" value="Sign up!">
        </form>
    </div>
</div>
{% endblock %}